.order-body .hd {
  color: #333;
  font-size: 21px;
  font-weight: 700;
  margin: 40px 0 30px;
}

.order-item {
  margin-bottom: 100px;
}
.order-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.order-item-footer {
  float: right;
  margin: 15px 0;
}
