.book-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.book-item {
  position: relative;
  flex: none;
  padding: 20px 20px 20px 10px;
  width: calc(50% - 20px);
  font-size: 0;
  line-height: 1;
}

.book-item .inner {
  display: flex;
}

.book-item .cover {
  flex: none;
  margin-right: 12px;
  width: 100px;
  height: 150px;
}

.shadow-cover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}
.cover {
  background-color: #eff2f3;
  border-radius: 4px;
}

.book-item .info {
  flex: 1;
  min-width: 0;
}

.cover-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.book-item .cover img {
  width: 100%;
  height: 100%;
}
.cover img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.book-item .title {
  font-weight: bold;
  font-size: 18px;
  /* line-height: 1.5; */
}

.book-item .title-text {
  color: #333 !important;
}

.book-item .title .title-container {
  display: flex;
  align-items: center;
}
.book-item .author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  color: #777;
  font-size: 13px;
}

.book-item .intro {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 12px;
  height: 40px;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.5;
}
.book-item .intro-text {
  color: #333;
}

.book-item .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-item .actions-left {
  flex: 1;
}
.book-item .sale {
  font-weight: bold;
  font-size: 15px;
}
.book-item .sale .price-tag {
  color: #333;
}
.book-item .sale .rmb-tag {
  margin-left: -2px;
}
.book-item .sale .discount-price {
  color: #fa595f;
}
.book-item .actions-right {
  display: flex;
  align-items: center;
}
